name: Build and Deploy Production

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - main
      - 'releases/**'
    tags:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install awscli
      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies in apps/meeting
        run: npm ci
        working-directory: apps/meeting

      - uses: aws-actions/setup-sam@v2
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::883739838031:role/slingui-production-pipeline-la-PipelineRoleDCFDBB91-Xpxkq0BRzguj
          role-session-name: default
          aws-region: us-east-1

      - name: Run deploy script
        run: node deploy.js
        working-directory: apps/meeting/serverless
